services:
  db:
    container_name: db
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postGr3s1245xSDI
      POSTGRES_DB: rust_app_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
